@page
@{
    ViewData["Title"] = "Ayuda";
}
<div class="container mt-5">
    <h2>Ayuda y Soporte</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h4>Datos del Estudiante</h4>
            <p><strong>Nombre:</strong> Eldan André Escobar Asturias</p>
            <p><strong>Carné:</strong> 202303088</p>
            <p><strong>Curso:</strong> Introducción a la programación y computación 2</p>
        </div>
        <div class="col-md-6">
            <h4>Documentación</h4>
            <a href="https://github.com/Impxdent/IPC2_Proyecto3_202303088/blob/main/ensayo.pdf" class="btn btn-outline-dark">Ir a GitHub</a>
            <p>Este sistema permite la gestión de facturación y pagos mediante carga de archivos XML.</p>
            <ul>
                <li>Use <strong>Configuración</strong> para cargar clientes y bancos</li>
                <li>Use <strong>Transacciones</strong> para facturas y pagos</li>
                <li>Use <strong>Estado de Cuenta</strong> para ver saldos por NIT</li>
            </ul>
        </div>
    </div>
</div>